<div>
  <h2 id="page-heading" data-cy="AnswerHeading">
    <span>Answers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-answer"
        [routerLink]="['/answer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Answer </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="answers?.length === 0">
    <span>No answers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="answers && answers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Id</span></th>
          <th scope="col"><span>Num Responses</span></th>
          <th scope="col"><span>Result Numeric</span></th>
          <th scope="col"><span>Result String</span></th>
          <th scope="col"><span>Order</span></th>
          <th scope="col"><span>Question</span></th>
          <th scope="col"><span>Survey</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let answer of answers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/answer', answer.id, 'view']">{{ answer.id }}</a>
          </td>
          <td>{{ answer.numResponses }}</td>
          <td>{{ answer.resultNumeric }}</td>
          <td>{{ answer.resultString }}</td>
          <td>{{ answer.order }}</td>
          <td>
            <div *ngIf="answer.question">
              <a [routerLink]="['/question', answer.question?.id, 'view']">{{ answer.question?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="answer.survey">
              <a [routerLink]="['/survey', answer.survey?.id, 'view']">{{ answer.survey?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/answer', answer.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/answer', answer.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(answer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
