<input type="file" class="file-input"
       [accept]="requiredFileType"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

   {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <fa-icon icon="plus"></fa-icon>

    </button>

</div>

<ng-container *ngIf="surveys$ | async as surveys">
<table class="table">
  <thead>
  <tr>
    <th>Question</th>
    <th *ngFor="let date of surveyDates">{{date | date:'MMM YYYY'}}</th>
  </tr>
  </thead>  
  <tbody>
      <tr *ngFor="let survey of sanitizedSurveys">
        <td>{{survey.question}}</td>
        <td *ngFor="let result of survey.answers" [style.background-color]="getBackgroundColor(result.resultNumeric)">
          {{result.resultNumeric | number: '1.2-2' }}
        </td>
      </tr>


  </tbody>
</table>
</ng-container>
